<footer class="footer bg-[#202525] py-3 md:py-4">
    <div class="container">
        <div class="md:flex justify-between">
            <div class="hidden md:flex gap-3">
                <p class="text-14 font-gilmer-medium text-white m-0">Follow us on:</p>
                <ul class="flex gap-4">
                    <li>
                        <a target="_blank" title="twitter" href="">
                            <img width="24" height="24" alt="twitter"
                                src="https://uatcdn.shriramhousing.in/shfl-kalam/files/2023-11/twitter.svg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="linkedin"
                            href="https://www.linkedin.com/company/shriram-housing-finance-ltd">
                            <img width="24" height="24" alt="linkedin"
                                src="https://uatcdn.shriramhousing.in/shfl-kalam/files/2023-11/linkedin.svg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="instagram" href="">
                            <img width="24" height="24" alt="instagram"
                                src="https://uatcdn.shriramhousing.in/shfl-kalam/files/2023-11/instagram.svg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="youtube"
                            href="https://www.youtube.com/channel/UCTkUdg0QhYgOG82rwahLWGw">
                            <img width="24" height="24" alt="youtube"
                                src="https://uatcdn.shriramhousing.in/shfl-kalam/files/2023-11/youtube.svg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="facebook" href="">
                            <img width="24" height="24" alt="facebook"
                                src="https://uatcdn.shriramhousing.in/shfl-kalam/files/2023-11/facebook.svg">
                        </a>
                    </li>
                </ul>
            </div>
            <p class="text-10 md:text-14 font-gilmer-medium text-white text-center md:text-left m-0">&copy; 2022 Shriram
                Housing Finance Limited.
                All rights
                reserved.</p>
        </div>
    </div>
</footer>