@import "./../../../assets/scss/variables/variables";
//page loader
.pageloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    z-index: 999;
    &__align {
        position: absolute;
        top: 50%;
        left: 0%;
        right: 0;
        transform: translateY(-50%);
    }
    &__border {
        width: 35px;
        height: 35px;
        margin: 0 auto;
        border: 4px solid $primary-1;
        border-right-color: $primary-1;
        border-top-color: $primary-1;
        border-bottom-color: $white;
        border-radius: 100%;
        animation: c-spinner-border 0.75s linear infinite;
    }
}

@keyframes c-spinner-border {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
