<div
    class="bg-primary-1 lg:rounded-xl pt-4 pb-20 px-4 lg:py-[66px] lg:px-10 -mx-4 lg:mx-0 bg-[url('/assets/images/pattern.svg')] bg-no-repeat ">
    <div class="w-[122px] md:w-[280px] mx-auto mb-8">
        <img src="/assets/images/login.webp" alt="Customer Service Portal" width="280" height="213" />
    </div>
    <h2 class="heading text-14 lg:text-20 text-white text-center">Customer Service Portal</h2>

    <div class="swiper max-w-[200px] xl:max-w-full" id="carousel-swiper-item1">
        <div class="swiper-wrapper xl:flex xl:flex-wrap xl:justify-between xl:gap-4">
            <div class="swiper-slide !flex items-center xl:w-[48%] gap-3 bg-white py-3 px-4 rounded-lg">
                <div
                    class="bg-secondary-1 min-w-12 max-w-12 min-h-12 max-h-12 rounded-full flex items-center justify-center">
                    <img src="/assets/images/icons/branch.svg" width="40" height="40" alt="Branches in India" />
                </div>
                <div class="flex justify-center flex-col">
                    <p class="mb-0 text-14 font-gilmer-heavy text-secondary-6">130+</p>
                    <p class="mb-0 text-10 text-secondary-6 whitespace-nowrap">Branches in India</p>
                </div>
            </div>
            <div class="swiper-slide !flex items-center xl:w-[48%] gap-3 bg-white py-3 px-4 rounded-lg">
                <div
                    class="bg-secondary-1 min-w-12 max-w-12 min-h-12 max-h-12 rounded-full flex items-center justify-center">
                    <img src="/assets/images/icons/customers.svg" width="40" height="40" alt="Happy Customers" />
                </div>
                <div class="flex justify-center flex-col">
                    <p class="mb-0 text-14 font-gilmer-heavy text-secondary-6">100000+</p>
                    <p class="mb-0 text-10 text-secondary-6 whitespace-nowrap">Happy Customers</p>
                </div>
            </div>
            <div class="swiper-slide !flex items-center xl:w-[48%] gap-3 bg-white py-3 px-4 rounded-lg">
                <div
                    class="bg-secondary-1 min-w-12 max-w-12 min-h-12 max-h-12 rounded-full flex items-center justify-center">
                    <img src="/assets/images/icons/assets.svg" width="40" height="40" alt="Gross Loan Assets" />
                </div>
                <div class="flex justify-center flex-col">
                    <p class="mb-0 text-14 font-gilmer-heavy text-secondary-6">8000+ Cr</p>
                    <p class="mb-0 text-10 text-secondary-6 whitespace-nowrap">Gross Loan Assets</p>
                </div>
            </div>
            <div class="swiper-slide !flex items-center xl:w-[48%] gap-3 bg-white py-3 px-4 rounded-lg">
                <div
                    class="bg-secondary-1 min-w-12 max-w-12 min-h-12 max-h-12 rounded-full flex items-center justify-center">
                    <img src="/assets/images/icons/project.svg" width="40" height="40" alt="Pre approved project" />
                </div>
                <div class="flex justify-center flex-col">
                    <p class="mb-0 text-14 font-gilmer-heavy text-secondary-6">1000+</p>
                    <p class="mb-0 text-10 text-secondary-6 whitespace-nowrap">Pre approved project</p>
                </div>
            </div>
        </div>
    </div>
</div>