@import "../../../assets/scss/variables/variables";

.successPopup {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    text-align: center;
}

// Ripple Circle
.ripple {
    margin: auto;
    position: relative;
    &__circle,
    &__wave {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #5bc686;
        transform: scale(0);
        animation: ripple-circle 2s forwards 0.5s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 99;
    }
    &__tick {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 100;
        &--path {
            stroke-dasharray: 1000;
            stroke-dashoffset: -100;
            animation: dash-check 2s forwards 3s infinite;
        }
    }
    &__wave {
        width: 124px;
        height: 124px;
        animation: ripple-wave 2s forwards 3s infinite;
    }
}

@keyframes ripple-circle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ripple-wave {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}
