<div class="w-full mx-auto bg-white rounded-xl p-6 border border-[#E7EBEB]">
    <div class="flex items-center gap-4 md:gap-6">
        <div class="max-w-[80px] xl:max-w-[120px]">
            <img src="/assets/images/icons/customer-agent.svg" alt="Need more help" width="110" height="90" />
        </div>
        <div class="block">
            <p class="text-16 md:text-20 text-secondary-6 font-gilmer-medium mb-2 md:mb-4">
                Need more help?
            </p>
            <a href="tel:18001024345" title="18001024345"
                class="flex items-center gap-2 md:gap-3 no-underline mb-1 md:mb-2">
                <img src="/assets/images/icons/call.svg " alt="18001024345" width="24" height="24" />
                <span class="text-12 md:text-14 font-gilmer-medium text-black">
                    1800-102-4345
                </span>
            </a>
            <a href="mailto:contact@shriramhousing.in" title="contact@shriramhousing.in"
                class="flex items-center gap-2 md:gap-3 no-underline">
                <img src="/assets/images/icons/mail-small.svg" alt="contact@shriramhousing.in" width="24" height="24" />
                <span class="text-12 md:text-14 font-gilmer-medium text-black">contact&#64;shriramhousing.in</span>
            </a>
        </div>
    </div>
</div>