<div class="relative w-full mx-auto bg-white rounded-xl p-4 pb-6 md:pb-10 border border-[#E7EBEB] mb-6">
    <div class="swiper xl:max-w-full" id="carousel-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide !h-[initial]">
                <div
                    class="flex items-center min-h-[120px] gap-3 p-3 md:p-5 bg-secondary-1 rounded-xl border border-[#84EEFF] box-shadow">
                    <div class="max-w-[250px]">
                        <h2 class="text-12 md:text-14 text-black font-gilmer-medium mb-1">
                            Starting a new phase in your life!
                        </h2>
                        <p class="text-12 text-black mb-0">Partner with us for a <br /> memorable
                            jouney.
                        </p>
                    </div>
                    <div class="w-[90px] md:w-120px">
                        <img src="/assets/images/icons/family-with-home.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide !h-[initial]">
                <div
                    class="flex items-center min-h-[120px] gap-3 p-3 md:p-5 bg-secondary-1 rounded-xl border border-[#84EEFF] box-shadow">
                    <div class="max-w-[250px]">
                        <h2 class="text-12 md:text-14 text-black font-gilmer-medium mb-1">
                            Starting a new phase in your life!
                        </h2>
                        <p class="text-12 text-black mb-0">Partner with us for a <br /> memorable
                            jouney.
                        </p>
                    </div>
                    <div>
                        <img src="/assets/images/icons/family-with-home.svg" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <ul class="relative flex items-center justify-center">
        <li class="swiper-button-prev"></li>
        <li class="swiper-pagination"></li>
        <li class="swiper-button-next"></li>
    </ul>
</div>