<div class="text-center">
    <div class="max-w-[140px] md:max-w-[300px] mx-auto mb-4 md:mb-6">
        <img src="/assets/images/icons/no-information.svg" alt="No loan information" width="300" height="300" />
    </div>
    <p class="text-14 md:text-20 font-gilmer-medium text-secondary-6 mb-0">No loan information.</p>
    <p class="text-12 md:text-14 text-secondary-6 mb-6 md:mb-4">Looking for a Home Loan?</p>
    <a routerLink="/apply-loan" title="Apply Now" class="button button-default"><span>Apply
            Now</span></a>
</div>