<div class="container">
    <div class="max-w-[1056px] mx-auto lg:bg-white lg:rounded-xl lg:py-10 lg:px-16 -mt-6 lg:mt-0">
        <div class="flex flex-wrap items-center lg:flex-nowrap lg:gap-8 xl:gap-16">
            <div class="w-full lg:max-w-[480px]">
                <app-card-info></app-card-info>
            </div>
            <div
                class="w-full lg:max-w-[384px] px-6 lg:px-0 py-6 xl:py-0 rounded-xl lg:rounded-none bg-white lg:bg-transparent z-10 -mt-14 lg:mt-0">
                <app-simple-form></app-simple-form>
            </div>
        </div>
    </div>
</div>
