<div class="w-full mx-auto bg-white rounded-xl p-4 md:p-6 border border-[#E7EBEB] mb-6">
    <h2 class="text-16 md:text-20 text-black font-gilmer-medium mb-4 md:mb-6">Quick Links</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-x-2 md:gap-x-3 gap-y-3 md:gap-y-4">
        <a class="relative patternTypeOne min-h-[112px] flex flex-col items-center justify-center bg-primary-1 p-4 rounded-xl lg:rounded-xl"
            routerLink="/apply-loan" title="Apply for Loan">
            <div
                class="bg-white min-w-10 max-w-10 min-h-10 max-h-10 rounded-full flex items-center justify-center mb-2">
                <img src="/assets/images/icons/loan.svg" alt="Apply for Loan" width="32" height="32" />
            </div>
            <p class="text-white mb-0 text-12 leading-[16px] font-gilmer-medium text-center">Apply for Loan</p>
        </a>
        <a class="relative patternTypeTwo min-h-[112px] flex flex-col items-center justify-center bg-primary-1 p-4 rounded-xl lg:rounded-xl"
            routerLink="/change-mailing-address" title="Change Mailing Address">
            <div class=" bg-white min-w-10 max-w-10 min-h-10 max-h-10 rounded-full flex items-center justify-center
            mb-2">
                <img src="/assets/images/icons/edit.svg" alt="Change Mailing Address" width="32" height="32" />
            </div>
            <p class="text-white mb-0 text-12 leading-[16px] font-gilmer-medium text-center">Change Mailing Address</p>
        </a>
        <a class="relative patternTypeOne min-h-[112px] flex flex-col items-center justify-center bg-primary-1 p-4 rounded-xl lg:rounded-xl"
            routerLink="/change-email-id" title="Change Email Id">
            <div
                class="bg-white min-w-10 max-w-10 min-h-10 max-h-10 rounded-full flex items-center justify-center mb-2">
                <img src="/assets/images/icons/mail-small.svg" alt="Change Email Id" width="32" height="32" />
            </div>
            <p class="text-white mb-0 text-12 leading-[16px] font-gilmer-medium text-center">Change Email Id</p>
        </a>
        <a class="relative patternTypeTwo min-h-[112px] flex flex-col items-center justify-center bg-primary-1 p-4 rounded-xl lg:rounded-xl"
            routerLink="/change-password" title="Change Password">
            <div
                class="bg-white min-w-10 max-w-10 min-h-10 max-h-10 rounded-full flex items-center justify-center mb-2">
                <img src="/assets/images/icons/Change-password.svg" alt="Change Password" width="32" height="32" />
            </div>
            <p class="text-white mb-0 text-12 leading-[16px] font-gilmer-medium text-center">Change Password</p>
        </a>
        <a class="relative patternTypeOne min-h-[112px] flex flex-col items-center justify-center bg-primary-1 p-4 rounded-xl lg:rounded-xl"
            routerLink="/write-to-us" title="Write to Us">
            <div class=" bg-white min-w-10 max-w-10 min-h-10 max-h-10 rounded-full flex items-center justify-center
            mb-2">
                <img src="/assets/images/icons/documents.svg" alt="Write to Us" width="32" height="32" />
            </div>
            <p class="text-white mb-0 text-12 leading-[16px] font-gilmer-medium text-center">Write to Us</p>
        </a>
        <a class="relative patternTypeTwo min-h-[112px] flex flex-col items-center justify-center bg-primary-1 p-4 rounded-xl lg:rounded-xl"
            routerLink="/refer-a-friend" title="Refer a Friend">
            <div
                class="bg-white min-w-10 max-w-10 min-h-10 max-h-10 rounded-full flex items-center justify-center mb-2">
                <img src="/assets/images/icons/user-icon.svg" alt="User Icon" width="32" height="32" />
            </div>
            <p class="text-white mb-0 text-12 leading-[16px] font-gilmer-medium text-center">Refer a Friend</p>
        </a>
        <a class="relative patternTypeOne min-h-[112px] flex flex-col items-center justify-center bg-primary-1 p-4 rounded-xl lg:rounded-xl"
            routerLink="/auto-debit-settings" title="Auto Debit Settings">
            <div
                class="bg-white min-w-10 max-w-10 min-h-10 max-h-10 rounded-full flex items-center justify-center mb-2">
                <img src="/assets/images/icons/timer.svg" alt="Auto Debit Setting" width="32" height="32" />
            </div>
            <p class="text-white mb-0 text-12 leading-[16px] font-gilmer-medium text-center">Auto Debit Settings</p>
        </a>
    </div>
</div>